<!-- Modal -->
        <div class="modal fade" id="modal-{{index}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{index}}-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select a Pokemon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        
                        <div id="pokemon">
                            <div ng-app='app' ng-controller='mainCtrl'>
                                <div class="searchField">
                                    <form ng-model="form" ng-submit="onsubmit(form)">
                                        <input type="text" placeholder="Search" size="40" ng-model="pokemonName">
                                        <input type="submit" class="btn btn-primary" ng-click="">
                                    </form>
                                </div>
                                <img src="{{pokedata['sprites']['front_default']}}">
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" style="background-color:forestgreen">Add to Team</button>
                    </div>
                </div>
            </div>
        </div>