body {
    color: black;
    background-color: white;
}

.main-content {
    width: 61vw;
    margin: auto;
    text-align: left;
    display: table;
    list-style-position: inside;
    background-color: lightgray;
    height: 90vh;
    padding: 15px;
}
#weather-icon {
    padding-left: 5vw;
    width: 10vw;
}